* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito';

    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

html {
    font-size: 100%;
    scroll-behavior: smooth;

}

a {
    text-decoration: none;
    color: #191C1E;
    transition: 0.3s;
}

a:hover {
    color: #191C1E;
    text-shadow: 0px 0px 1px #191C1E;
}

body {
    background-color: #FEFEFE;
    color: #191C1E;
    overflow-x: hidden;
}

@media (max-width: 1080px) {
    html {
        font-size: 80%;
    }
}

body::-webkit-scrollbar {
    width: 12px;
}

body::-webkit-scrollbar-track {
    background: rgba(255, 253, 250, 1);
}

body::-webkit-scrollbar-thumb {
    background-color: #90909A;
    border-radius: 20px;
    border: 3px solid rgba(255, 253, 250, 1);
}

button {
    display: flex;
    padding: 0.625rem 0.75rem 0.625rem 1rem;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    background: #353d69;
    color: #fff;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5rem;
    letter-spacing: 0.00938rem;
    border-radius: 0.5rem;
    border: none;
    cursor: pointer;
    transition: all 0.2s ease-in-out;

    &:not(:disabled):hover {
        background: #2e345e;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }

    &:disabled {
        background: #c4c4c4;
        color: #fff;
        cursor: not-allowed;

    }
}